<!--****View Products Section Start****-->
		  <!--****Slider Start****-->
		  <tr class="productsDisplay">
			<td class="bg_white" id="products2">
				<table>
					<div class="text" style="padding: 0 2.5em; text-align: center;margin-bottom:-25px">
						<h2>View our Products</h2>
						  <br>
					</div>
				   
					   
						   <div class="grid-products scrollhide">
							   <div class="view-products">
								   <div id="">
									   <ul id="" class="">
										   <li class="">
											   <img src="images/view-product-1.jpg"/>
											   <div class="btn-product scroll-link" data-id="contact">Shop Now</div>
											   
										   </li>
										   <li class="">
											  <img src="images/view-product-2.jpg"/>
											  <div class="btn-product scroll-link" data-id="contact">Shop Now</div>
											  
										  </li>
										  <li class="">
											  <img src="images/view-product-3.jpg"/>
											  <div class="btn-product scroll-link" data-id="contact">Shop Now</div>
											  
										  </li>
										  <li class="">
											  <img src="images/view-product-4.jpg"/>
											  <div class="btn-product scroll-link" data-id="contact">Shop Now</div>
										  </li>

									  </ul>
								  </div>
							  </div>
							   
							   <div class="line-dec" style="margin-top:auto"></div>
						  </div>
					   
					   

				</table>
			</td>
		</tr>
		  <!--****Slider End****-->
		  <!--****Carousel Start****-->
		  <tr class="productsCarouselDisplay">
			  <td class="bg_white" id="products">
				  <table>
					  <div class="text" style="padding: 0 2.5em; text-align: center;margin-bottom:-25px">
						  <h2>View our Products</h2>
							<br>
					  </div>
					 
						 
							 <div class="grid-products scrollhide">
								 <div class="view-products">
									 <div id="carousel">
										 <ul id="owl-banner" class="owl-carousel owl-theme myowl">
											 <li class="item">
												 <img src="images/view-product-1.jpg"/>
												 <div class="overlay2"></div>
											 </li>
											 <li class="item">
												<img src="images/view-product-2.jpg"/>
												<div class="overlay2"></div>
											</li>
											<li class="item">
												<img src="images/view-product-3.jpg"/>
												<div class="overlay2"></div>
											</li>
											<li class="item">
												<img src="images/view-product-4.jpg"/>
												<div class="overlay2"></div>
											</li>

										</ul>
									</div>
								</div>
								 
								 <div class="line-dec"></div>
							</div>
						 
					 	

				  </table>
			  </td>
		  </tr>
		  <!--****Carousel End****-->
		  <!--****View Products Section End****-->