<tr>
          <td valign="middle" class="bg_white footer" id="contact-section">
            <table>
            	<tr class="social_btns" style="text-align: left; ">
  <td valign="middle" width="40%" style="padding-top: 20px; text-align: right;">
                	<ul class="social">
                		
                		<!--<li><img src="images/005-facebook.png" alt="" style="width: 24px; max-width: 600px; height: auto; display: block;"></li>-->
						<li onclick="goToSocial()"><img src="images/006-instagram-logo.png" alt="" style="width: 24px; max-width: 600px; height: auto; display: block;"></li>
						<!--<li><img src="images/004-twitter-logo.png" alt="" style="width: 24px; max-width: 600px; height: auto; display: block;"></li>-->
                	</ul>
                </td>              <td valign="middle" width="60%" style="padding-top: 20px; text-align: left;padding-left:10px">
                	<h3 class="heading" style="font-size:16px; text-align:center">Stay Updated On Our Social Media</h3>
                </td>
                
              </tr>
            </table>
          </td>
		</tr>

 <tr>
          <td class="bg_light" style="text-align: center;">
          	<p>Copyright &copy; 2021 GoodCare GoodHair.</p> <p>Built by <a href="https://www.coralco.co.za" style="color: rgba(0,0,0,.8);">Coral</a></p>
          </td>
        </tr>