<!-- Modal Background start-->
<div id="mymodal-bg" class="bg-mymodal" style="display:none">

<!--**************** Start Store Policy Modal ****************-->
	<div id="" class="cm-block" style="z-index:10;">
		
		<div class="" id="store-policy" style="left: 0px !important;bottom:0 !important;display: none;">
			<i class="icon icon-cross_mark" id="close-storePolicy" style="color:#000;padding:10px;z-index: 1;" onClick="closeStorePolicy()"></i>
			<h1 class="title">Store Policy</h1>
<span>
<h4>Delivery & Shipping</h4>
•	We deliver nationwide, anywhere in South Africa.<br/> 
•	Delivery takes 1-3 working days after order processing. For outlying areas 3-4 days.<br/> 
•	Orders will be processed within 2 working days upon receipt of payment.<br/> 
•	Delivery cost are R 100 for all products excluding hair extensions. Free delivery only applies to purchases on hair extensions.<br/> 
•	No deliveries will be made during the weekend or public holidays as our shipping service provider does not deliver on weekends.



<h4>Return Policy</h4>
We accept return of products excluding all hair extensions. Customers have the right to apply for a return within 3 days after the receipt of the product. Hair extensions (clip in extensions and wigs) cannot be returned as we need to maintain good hygiene and safety standards. 

To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging. To complete your return, we require a receipt or proof of purchase.

Customers will need to pay the full delivery cost if they need return. All returned products will be inspected before any refund is paid out. If used, washed, or manipulated in any way then refund will be rejected.

<h4>Cancellation</h4>
We accept order cancellation before the product is processed for delivery. If the order is cancelled before arrangements for delivery, you will get full refund. We cannot cancel the order once the product is already on its way to being delivered to the customer.

<h4>Exchange</h4>
Due to the nature of our products, we do not make provisions for any product exchanges.
</span>
		</div>
	</div>
<!--**************** End Store Policy Modal ****************-->

<!--****************Notification Modal Start****************-->
<div class="myNotif detail" id="success-notif" style="display: none;">
	<div >
		<i class="icon-sli-check" style="color:green"></i> <span class="message">Hey there, your message has been sent. We'll contact you as soon as possible</span>
	</div>
</div>

<div class="myNotif detail" id="error-notif" style="display: none;">
	<div >
		<i class="icon-sli-close" style="color:orangered"></i> <span class="message">Oops, something went wrong. Please try again</span>
	</div>
</div>
<!--**************** Notification Modal End****************-->
</div>
<!-- Modal Background end-->