<tr class="table-body">
          <td valign="middle"  class="hero heroMobile bg_white zoomOnLoad" >
			  <div class="overlay"></div>
			  <div class="underlay"></div>
            <table>
            	<tr id="top">
            		<td class="banner-text fadeOut" valign="middle">
            			<div  class="text" style="padding: 0 4em; text-align:center;">
            				<h2>Affordable afro-textured clip in extensions - 100% virgin human hair</h2>
            				
            				<p><a href="#" class="btn btn-primary scroll-link" data-id="add-to-cart">Start Shoping</a></p>
            			</div>
            		</td>
            	</tr>
            </table>
          </td>
		  <td valign="middle"  class="hero heroPC bg_white zoomOnLoad" >
			<div class="overlay"></div>
			<div class="underlay"></div>
		  <table>
			  <tr id="top">
				  <td class="banner-text fadeOut" valign="middle">
					  <div  class="text" style="padding: 0 4em; text-align: left;">
						  <h2>Affordable afro-textured clip in extensions - 100% virgin human hair</h2>
						  
						  <p><a href="#" class="btn btn-primary scroll-link" data-id="add-to-cart">Start Shoping</a></p>
					  </div>
				  </td>
			  </tr>
		  </table>
		</td>
		  </tr><!-- end tr -->
		  <!--****About Section Start****-->
				<tr>
          <td valign="middle" class="intro bg_white" style="padding: 2em 0 4em 0;">
            <table>
            	<tr id="about-us-section">
            		<td>
            			<div class="text" style="padding: 0 2.5em; text-align: center;">
            				<h2>About Us</h2>
            				<p style="max-width:600px">We offer affordable hair care solutions and aesthetics for afro-textured hair types. Our products include afro hair clip-in extensions, detangling brushes and other accessories. Our products are tailored for the young African woman who has just gone "natural" and is ready to embrace her natural hair. We believe that healthy hair is good hair and we love all your kinks, curls and coils. </p>
            				<p><a href="#" class="btn btn-black scroll-link" data-id="add-to-cart">Browse Shop</a></p>
            			</div>
            		</td>
            	</tr>
            </table>
          </td>
		  </tr><!-- end tr -->
		  <!--****About Section End****-->